.theme-default-content:not(.custom) {
    max-width 1200px
}

.page .page-nav,
.page .page-edit {
    max-width 1200px
}

@media (min-width: 960px){
    .code-layout {
        display flex
    }

    .code-layout .code-cont {
        flex 1
    }

    .code-layout .code-cont + .code-cont {
        margin-left 1rem
    }
}